body, h1, h2, h3,  h5, p {
    margin: 0;
}
.body-wrapper {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: black;
    backdrop-filter: blur(2px);
    

}
.header__wrapper {
    margin: 0 auto;
    max-width: 1600px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    transition: 0.5s;
    
}
.menu-link{
    color: #FFFFFF;
    transition: 0.5s;


}
.menu-link:hover {
   color: #F9804B; /* orange color*/
   transition: 0.5s;


}
.active {
    color: #F9804B;
}
li {
    list-style-type: none;
}
.menu {
    display: flex;
    padding: 0;
}
.menu-item {
    padding-left: 58px;
}


.logo {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    width: 85px;
    text-align: center;
    margin-right: 5px;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.logo img {
    position: absolute;
    top: 10px;
    right: 10px;
    top: 19px;
    right: 59px;
}
h1 {
    padding-top: 2px;
    font-family: Roboto;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
letter-spacing: 0em;
text-align: center;

}
.block__container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__description {
    cursor: pointer;
    position: relative;
    right: 0;
}

.header__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.fav-animal {
    background-color: black;
}
.fav-animal__wrapper{
    max-width: 1600px;
    height: 700px;
    margin: 0 auto;
    background-position-y: -225px;
    background-size: 100%;
    background-image: url(../../assets/images/Giant.jpg);
    background-repeat: no-repeat;
    
}


h2 {
    position: relative;
    border-radius: 50%;
    padding-top: 86px;
    padding-bottom: 60px;
    max-width: 500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fav {
    
color: #FFEE2E;
}

.fav-animal__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.fav-animal__wrapper .block__container{
    justify-content: flex-end;
}
.btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 298px;
height: 54px;
border: #F9804B;
color: #FFFFFF;
cursor: pointer;
}
.orange {
    position: absolute;
    width: 465px;
height: 465px;
left: calc(50% - 465px/2 + 239.5px);
top: 92px;
border-radius: 50%;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.backstage__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
}

.backstage__wrapper .block__container {
    gap: 87px;
    align-items: initial;
}

h3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
margin-bottom: 20px;
/* or 58px */


color: #333B41
}
.ordinary__text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height:22px;
/* or 21px */


color: #333B41;
}
h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

margin-top: 54px;
color: #333B41;
}
.backstage__background {
    z-index: -1;
    position: absolute;
    right: 0px;
    top: 12px;
}
.pets__wrapper {
    position: relative;
    padding-top: 174px;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 100px;
    overflow: hidden;
}

.pets__wrapper .block__container {
    display: flex;
    flex-direction: column;
}
.slider {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
    
}
.pets-container {
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    

}

.left-btn, .right-btn {
    cursor: pointer;
    width: 62px;
    position: relative;
    border-radius: 50%;
    outline: none;
height: 62px;
border: none;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

}


.left-btn::after, .right-btn::after {
    content: ' '; 
    position: absolute ; 
    top: 50%;
    left: 22px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url('../../assets/icons/Vector.svg') no-repeat ; 
    width: 16px;
    background-position: center;
    height: 8px;
 }

 .right-btn::after {    top: 45%;
    transform: rotate(180deg)
 }
 h5 {
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 16px;
font-style: ;
line-height: 140%;
/* or 22px */

text-transform: uppercase;

color: #000000;
 }
 .pet-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
padding-top: 8px ;
padding-left: 16px;
padding-bottom: 12px;
/* identical to box height, or 18px */


color: #000000;
 }
 .pet-info {
    display: flex;
    justify-content: space-between;
    padding-right: 8p
 }

 .pet-card img {
    cursor: pointer;
 }
 .pet-card {
    font-size: 0;
   position: relative;
   box-sizing: border-box;

  /* border: 1px solid transparent;


	  -moz-border-image: -moz-linear-gradient(left, #FA6F32 0%, #FE9013 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #FA6F32 0%, #FE9013 100%);
	  border-image: linear-gradient(to right, #FA6F32 0%, #FE9013 100%);
	  border-image-slice: 1;
      border-radius: 5%;*/

      border:  1px solid #FA6F32;
      border-radius: 5px;
      
 }
 

 .plant1 {
    position: absolute;
    position: absolute;
width: 880px;
left: -588px;
bottom: -202px;

 }
 .plant2 {
    position: absolute;
    position: absolute;
width: 368px;
right: -1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    bottom: -14px;



 }
 .pick-and-feed__wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
 }


 .pick-and-feed__wrapper .block__container{
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);    
   border-radius: 20px;
   align-items: center;
   justify-content: center;

}

   .pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;

   }

   .feed__content{
        /* margin: 0px auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding-bottom: 60px;
   }
   .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   }

   .pay-icon, .grow-icon, .monkey-icon {
    background-color: white;
    height: 168px;
    border: 1px solid #F9804B;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  

   }
.pay, .grow, .monkey {
    max-width: 168px;
    width: 100%;
}
.descr_actions {
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: center;
}
.descr_actions p {
    max-width: 168px;
    width: 100%;
}
   .pick-feed-heading{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
text-align: center;
font-size: 48px;
margin: 0;
line-height: 120%;
/* identical to box height, or 58px */

padding-top: 41px;
padding-bottom: 30px;
color: #FE9013;
   }


   .actions_and_descr {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
   }

   .how-it-works {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
padding-top: 60px;
text-align: center;
    padding-bottom: 40px;
line-height: 130%;
/* identical to box height, or 47px */


color: #333B41;
   }
   .feed__content h5 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
text-transform: none;
padding-bottom: 40px;
color: #333B41;
   }

   .bold-ordinary__text {
    padding-bottom: 10px;
font-weight: 500;
font-size: 16px;
font-weight: bold;

line-height: 130%;
/* identical to box height, or 21px */


color: #333B41;
   }
   .ordinary__text-descr {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */
max-width: 863px;

color: #333B41;

   }
   .emergency-link {
    position: relative;
    cursor: pointer;
   }
   .emergency-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 20px;
    right: 0px;
    color:  #FE9013;
    background-color:  #FE9013;
   }

   .pick-feed-heading, .how-it-works, .feed__content form {
    margin: 0 auto;
   }
   
   .feed-text {
    padding-left: 25px;
   }
.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
}
   .testimonials__wrapper .block__container {
    flex-direction: column;
   }

   .testimonials__wrapper h4 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
margin: 0;
padding-bottom: 47px;
/* identical to box height, or 47px */

text-align: center;

color: #333B41;
   }

   .feedbacks {
    display: flex;
    gap: 30px;
   

   }
   .feedback-card {
    max-width: 268px;
    max-height: 391px;
    overflow: hidden;
    width: 100%;
    background: #F1F3F2;
border-radius: 20px;
padding: 15px 15px 15px 20px;
   }


   .range {
width: 600px;
margin-bottom: 32px;
margin-top: 22px;
   }
   .feedback-text {
    max-height: 309px;
    overflow: hidden;
   }

   footer {
    background-color: #000000;
   }